{{!-- Link to CSS within public folder for tablePage --}}
<link rel="stylesheet" href="/styles/tablePage.css">

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Thread Type</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr id="link">
      {{#each post}}
        <li>{{this.thread}}</li>
      {{/each}}
      
    </tr>
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td></td>
    </tr> --}}
  </tbody>
</table>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/appendHTML.js"></script> --}}